{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="container">
    <h2 class="text-center display-5 mt-5">{{ events.title }}</h2>
    <div class="text-center mb-4">
        <hr>
        <p class="my-5"><pre>{{ events.content}}</pre></p>
    </div>
    
    {% if user.is_authenticated %}
    <div class="text-center">
        <hr>
        <h5>Your booked events will be displayed here</h5>
    </div>
    {% endif %}

    {% for booking in bookings %}
    {% if booking.customer_name == user %}
    <div class="text-center mb-4">
        <p><pre>|  {{ booking.event_title }}  |</pre></p>
        <p>-----------------------------------</p>
        <p><pre>On {{ booking.booking_date }}</pre></p>
        <p><pre>{{ booking.event_description }}</pre></p>
        <p><pre>Chosen Menu | {{ booking.menu }}</pre></p>
        <div class="d-flex justify-content-center">
            <div id="menu" style="width: 600px; height: 700px;">
                <h1 class="text-center display-5 mt-4 pt-4 text-white">{{ booking.menu.title }}</h1>
                <div class="text-white" style="text-align: center;">
                    <div class="text-center pb-4">
                        <p><pre>{{ booking.menu.content }}</pre></p>
                    </div>
                </div>
            </div>
        </div>
        {% if booking.approved == False %}
        <h6 class="py-3 text-danger">Booking Unapproved</h6>
        {% elif booking.approved == True %}
        <h6 class="py-3 text-success">Booking Approved</h6>
        {% endif %}
        <a class="btn btn-edit btn-secondary me-2" href="{% url 'edit_booking' booking.id %}">Edit</a>
        <a class="btn btn-delete btn-danger ms-2" href="{% url 'delete_booking' booking.id %}">Cancel</a>
    </div>

    {% endif %}
    {% endfor %}
    
    <div class="row justify-content-center mt-5">
        <hr>
        <h2>Book a private event at our cafe!</h2>
        <p>Looking for the perfect venue to host your next private event? Binary Beans offers a charming and intimate setting ideal for any occasion. Whether you're planning a birthday celebration, corporate meeting, baby shower, or any other special gathering, our café provides a cozy and welcoming atmosphere to make your event unforgettable. </p>
        {% if user.is_authenticated %}
        <form method="post">
            <hr>
            <p>Booking for {{ user }}</p>
            {{ booking_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-secondary mb-5" type="submit">Submit</button>
        </form>
        {% else %}
        <h4 class="text-center my-5">Please <a class="link" href="{{ login_url }}">log in</a> if you would like to book out our Cafe!</h4>
        {% endif %}
    </div>
</section>

{% endblock content %}