/* fonts */
.monomaniac-one-regular {
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
  }
  

body {
    background-color: rgb(237, 242, 239);
}


/* navbar */
.navbar {
    background-color: rgba(237, 242, 239);;
    display: flex;
    justify-content: center;
    position: fixed;
    
}

.navbar-brand {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 190%;
    color: black;
}

.offcanvas-title {
    color: black;
    font-size: 150%;
}

.nav-link {
    color: black;
    font-size: 100%;
}

.offcanvas.offcanvas-top {
    height: 400px;
}

/* Header */

header {
    background: url("../images/coffee-shop.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

header h1{
    text-align: center;
    margin-top: 200px;
    color: rgb(237, 242, 239);
}


/* Footer */

footer {
    background-color: rgb(221, 226, 227);
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Menu */

.menu {
    background: url("../images/black-board.avif");
}

/* Events page */

pre {
    white-space: pre-wrap;
}

/* review page */

#newReview {
    background-color: transparent;
}

.fa-star {
    color: #C9A227;
}
/* media querys */

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(237, 242, 239);
        backdrop-filter: blur(10px);
    }
}

@media screen and (max-width: 325px) {

    .navbar-brand {
        font-size: 150%;
    }

}