body {
    background-color: rgb(237, 242, 239);
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(237, 242, 239);
        backdrop-filter: blur(10px);
    }
}

.navbar {
    background-color: rgba(237, 242, 239);;
    display: flex;
    justify-content: center;
    position: fixed;
    
}

.navbar-brand {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 190%;
    color: black;
}

.offcanvas-title {
    color: black;
    font-size: 150%;
}

.nav-link {
    color: black;
    font-size: 100%;
}

.login {
    color: black;
    font-size: 100%;
    position: relative;
}

/* Header */

header {
    background: url("../images/coffee-shop.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

header h1{
    text-align: center;
    margin-top: 200px;
    color: rgb(237, 242, 239);
}


/* Footer */

footer {
    background-color: rgb(221, 226, 227);
    width: 100%;
    padding: 0;
    margin: 0;
}

 

