{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container">
    <h1 class="text-center display-5 mt-5">{{ about.title }}</h1>
    <div class="text-center">
        <hr>
        <p><pre>{{ about.content}}</pre></p>
    </div>
    <h2 class="text-center display-7">Opening Times</h2>
    <div class="text-center flex-column mb-5">
        <hr>
        <p>| Monday - Friday: 9:00am - 4:00pm |</p>
        <p>| Saturday: 8:30am - 5:00pm |</p>
        <p>| Sunday: 9:00am - 2:00pm |</p>
    </div>
</section>


{% endblock content %}