{% extends "base.html" %}

{% block content %}

<div class="d-column-flex p-2 text-center col-12 col-md-8 col-lg-6 position-absolute top-50 start-50 translate-middle mb-1">
    <div style="background-color: rgb(255, 255, 255, 0.75);">
        <h2>{{ about.title }}</h2>
        <hr>
        <p>{{ about.content }}</p>
        <hr>
    </div>
    <div style="background-color: rgb(255, 255, 255, 0.75);">
        <h4>Opening Times</h3>
        <hr>
        <p>Monday - Friday: 9:00am - 4:00pm | Saturday: 8:30am - 5:00pm | Sunday: CLOSED</p>
        <hr>
    </div>
</div>


{% endblock content %}